@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background: #14141e;
    color: #e4e4ef;
}

.header > h1 {
    font-size: 60px;
}

.header h1 {
    text-align: center;
}

.header {
    font-size: 16px;
    padding: 2em;
}

.games {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.games a {
    text-decoration: none;
}

.games-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
}

.game-card {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 256px;
    height: 256px;
    /* background-color: blue; */
    border: 1px solid #515151;

}

.game-card h2 {
    color: #73c936;
    text-align: center;
    padding: 0.5em;
}

.game-card img {
    width: 200px;
    height: 200px;
}
