@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

body {
    background-color: rgba(20, 20, 30, 1.0);
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.take-whole-space {
    width: 100%;
    height: 100%;
}

#row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#col-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game, #gameover-screen, #canvas {
    width: 800px;
    height: 600px;
}

#game {
    position: relative;
}

#gameover-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1e1e28;
    visibility: hidden;
}

#gameover-screen p {
    color: #ffffff;
    font-size: 8em;
    user-select: none;
}

#setting-wrapper {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

#settings {
    width: 240px;
    gap: 1em;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5em;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 150px;
    height: 100px;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(0deg, rgba(255,150,150,1) 0%, rgba(255,180,130,1) 100%); */
    background: linear-gradient(0deg, rgba(255,150,150,1) 0%, rgba(255,180,130,1) 100%);
    width: 40px;
    height: 40px;
    border-radius: 0.2em;
    text-transform: uppercase;
    user-select: none;
}

#start-button, #pause-button, .control-button {
    color: #ffffff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    background: rgba(40, 200, 105, 1.0);
    /* background: rgba(130, 130, 240, 1.0); */

}

#start-button, #pause-button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    /* background: linear-gradient(0deg, rgba(255,150,150,1) 0%, rgba(255,180,130,1) 100%); */
    width: 150px;
    height: 40px;
    border-radius: 0.2em;
    text-transform: uppercase;
    user-select: none;
}
